.screenshots-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.sreenshot-box {
  width: 340px;
  height: 150px;
  overflow: hidden;
}

.screenshots-box img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1400px) {
  .screenshots-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .sreenshot-box {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .sreenshot-box {
    width: 100%;
    height: 200px;
  }

  .sreenshot-box {
    width: 400px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .screenshots-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
