.dropdown-container {
  width: 14.5em;
  position: absolute;
  top: 30px;
  left: 330px;
}

.dropdown-header {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid var(--bg-white-light);
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--text-dark-gray);
  background: var(--bg-white);
  border-radius: 6px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-arrow {
  display: flex;
  align-items: center;
  color: var(--icons-gray);
}

.dropdown-list {
  list-style: none;
  margin: 0;
  border: 1px solid var(--bg-white-light);
  color: var(--text-dark-gray);
  background: var(--bg-white);
  box-sizing: border-box;
  font-size: 1.3rem;
  font-size: 18px;
  border-radius: 6px;
}

.dropdown-list:first-child {
  padding-top: 10px;
}

.list-item {
  padding: 10px 20px;
}

.list-item:hover {
  background: var(--bg-light-gray);
}
