.card-skeleton__grid {
  list-style: none;
  margin: 30px auto;
  padding: 10px 20px;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 1fr;
  /*Define our columns */
  grid-template-columns: repeat(3, minmax(280px, 400px));
  justify-content: center;
  grid-gap: 30px;
  margin-left: -20px;
}

@media only screen and (max-width: 1000px) {
  .card-skeleton__grid {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 30px auto;
  }
}
