.card-skeleton__grid {
  padding: 10px;
  margin: 30px auto;
  padding: 0 20px;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 480px;
  /*Define our columns */
  grid-template-columns: repeat(3, minmax(280px, 300px));
  justify-content: center;
  grid-gap: 2em;
}

@media only screen and (max-width: 1000px) {
  .card-skeleton__grid {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 30px auto;
  }
}
