.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--bg-white);
  color: var(--text-dark-gray);
  justify-content: space-between;
}

.navbar-logo-text {
  display: flex;
  align-items: center;
}
