.genre-container {
  color: var(--text-dark-gray);
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 30px;
}

.genre-container h2 {
  padding: 10px 20px;
  margin-top: 50px;
}

.genre-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-dark-gray);
  text-decoration: underline;
}

.highlight {
  text-decoration: none;
  font-weight: 900;
  background: var(--bg-main-color);
  color: #fff;
}

.genre-item img {
  border-radius: 8px;
  margin-right: 10px;
}

.genre-item p {
  font-size: 24px;
}
