.genre-container {
  color: var(--text-dark-gray);
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 30px;
}

.genre-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.genre-item img {
  border-radius: 8px;
  margin-right: 10px;
}

.genre-item p {
  font-size: 24px;
}
