.game-card__grid {
  list-style: none;
  margin: 30px auto;
  padding: 10px 20px;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 1fr;
  /*Define our columns */
  grid-template-columns: repeat(3, minmax(280px, 400px));
  justify-content: center;
  grid-gap: 30px;
  padding-top: 120px;
}

@media only screen and (max-width: 1000px) {
  .game-card__grid {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 30px auto;
  }

  .game-card__grid li {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .btn-margin {
    display: block;
    margin: 30px auto !important;
  }
}

@media only screen and (max-width: 600px) {
  .game-card__grid {
    max-width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 30px auto;
  }

  .game-card__grid li {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
}

.game-card__grid li {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  overflow: hidden;
}

.card-grow {
  transition: all 0.15s ease-in-out;
}

.card-grow:hover {
  transform: scale(1.1);
}

.game-card__grid li:nth-child(odd) {
  background-color: var(--bg-white);
}

.game-card__grid li:nth-child(even) {
  background-color: var(--bg-white);
}

.error-text {
  margin: 30px auto;
  color: var(--text-danger-color);
  font-size: 18px;
  text-align: center;
}

.btn {
  border: none;
  width: 200px;
  border-radius: 6px;
  font-size: 20px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background: var(--bg-main-color);
  box-shadow: rgba(65, 136, 255, 1) 0px 1px 4px;
}

.btn-margin {
  margin-left: 90px;
  margin-bottom: 30px;
}

.btn-opacity {
  opacity: 0.6;
}

/* ------- dot animations -------- */

.stage {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: 0 -5%;
  overflow: hidden;
}

.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
