.game-card__grid {
  list-style: none;
  padding: 10px;
  margin: 30px auto;
  padding: 0 20px;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 470px;
  /*Define our columns */
  grid-template-columns: repeat(3, minmax(280px, 300px));
  justify-content: center;
  grid-gap: 2em;
}

@media only screen and (max-width: 1000px) {
  .game-card__grid {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 30px auto;
  }

  .game-card__grid li {
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .game-card__grid {
    max-width: 300px;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 30px auto;
  }

  .game-card__grid li {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
}

.game-card__grid li {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  overflow: hidden;
}

.game-card__grid li:nth-child(odd) {
  background-color: var(--bg-white);
}

.game-card__grid li:nth-child(even) {
  background-color: var(--bg-white);
}
