.navbar {
  grid-area: navbar;
  box-shadow: var(--shadow-navbar) 0px 7px 29px 0px;
  margin-bottom: 60px;
}
.main-container {
  grid-area: content;
  justify-content: center;
  background: var(--bg-light-gray);
  padding-top: 60px;
  position: relative;
}
.aside-container {
  grid-area: sidebar;
  background-color: var(--bg-white);
  min-height: 100vh;
}
footer {
  grid-area: footer;
  width: 100%;
  background-color: var(--bg-white);
  color: var(--text-dark-gray);
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
  box-shadow: var(--shadow-navbar) 0px 7px 29px 0px;
}
.layout-container {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar content"
    "footer  footer";
}

.selectors {
  margin-top: -60px;
  position: relative;
  display: flex;
  padding: 20px 30px;
  padding-bottom: 60px;
}
@media (max-width: 1200px) {
  .layout-container {
    grid-template-columns: 3fr;
    grid-template-areas:
      "navbar"
      "content"
      "footer";
  }

  .aside-container {
    display: none;
    width: 0px;
  }
}
