@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

:root {
  --bg-main-color: #4188ff;
  --bg-main-color-ligth: #accbff;
  --bg-danger-color: #ed3419;
  --bg-danger-ligth: #ff8164;
  --bg-success-color: #57cb4d;
  --bg-success-ligth: #abe098;
  --bg-warning-color: #fec901;
  --bg-warning-ligth: #fee480;
  --bg-white: #fff;
  --bg-white-light: #e7e7e7;
  --bg-light-gray: #f1f1f1;

  --text-main-color: #4188ff;
  --text-main-color-ligth: #accbff;
  --text-danger-color: #ed3419;
  --text-danger-ligth: #ff8164;
  --text-success-color: #57cb4d;
  --text-success-ligth: #abe098;
  --text-warning-color: #fec901;
  --text-warning-ligth: #fee480;
  --text-white: #fff;
  --text-white-light: #e7e7e7;
  --text-light-gray: #f1f1f1;
  --text-dark-gray: #434343;

  --shadow-navbar: rgba(100, 100, 111, 0.2);
  --icons-gray: #9f9d9d;
}

[data-theme="dark"] {
  --bg-main-color: #4188ff;
  --bg-main-color-ligth: #accbff;
  --bg-danger-color: #ed3419;
  --bg-danger-ligth: #ff8164;
  --bg-success-color: #57cb4d;
  --bg-success-ligth: #abe098;
  --bg-warning-color: #fec901;
  --bg-warning-ligth: #fee480;
  --bg-white: #202020;
  --bg-white-light: #0d0d0d;
  --bg-light-gray: #434343;

  --text-main-color: #4188ff;
  --text-main-color-ligth: #accbff;
  --text-danger-color: #ed3419;
  --text-danger-ligth: #ff8164;
  --text-success-color: #57cb4d;
  --text-success-ligth: #abe098;
  --text-warning-color: #fec901;
  --text-warning-ligth: #fee480;
  --text-white: #434343;
  --text-white-light: #0d0d0d;
  --text-light-gray: #202020;
  --text-dark-gray: #f1f1f1;

  --shadow-navbar: rgba(35, 35, 40, 0.2);
  --icons-gray: #9f9d9d;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.center-spinner {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.spinner-border {
  height: 60px;
  width: 60px;
  border: 6px solid;
  border-color: var(--bg-main-color) transparent var(--bg-main-color-ligth)
    transparent;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
  margin: 30px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
