.navbar {
  width: 100%;
  box-shadow: var(--shadow-navbar) 0px 7px 29px 0px;
  margin-bottom: 60px;
  position: fixed;
}

.home-container {
  display: flex;
}

.main-container {
  width: calc(100vw - 270px);
  display: block;
  background: var(--bg-light-gray);
  padding-top: 60px;
  position: relative;
}
.main-container__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 120px;
  top: 50px;
  left: 60px;
}

.heading {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  height: 60px;
  width: 400px;
}

.selectors {
  margin-top: 40px;
  position: relative;
  display: flex;
  padding: 20px 30px;
  padding-bottom: 60px;
  width: 100%;
  z-index: 10;
}

.aside-container {
  width: 270px;
  min-height: 100vh;
  background: var(--bg-white);
}

@media (max-width: 1200px) {
  .aside-container {
    display: none;
    width: 0px;
  }

  .main-container {
    width: 100%;
  }

  .main-container__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 120px;
    left: 0;
  }

  .heading {
    position: relative;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }

  .selectors {
    margin-top: -40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
  }
}
